@font-face {
	font-family: "Paper Mario";
	src: url("./fonts/SuperMarioScript2Demo-Regular.ttf");
}

html,
body {
	background-color: darkslategray;
	font-family: "Paper Mario";
	user-select: none;
	font-size: 1.2rem;
	color: white;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: lightblue;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0;
}

h1,
h2,
h3 {
	margin: 0 0 0 0;
	font-size: 1.5rem;
	font-weight: normal;
}
