@font-face {
    font-family: "Paper Mario";
    src: url("../fonts/SuperMarioScript2Demo-Regular.ttf");
}

html, body {
    background-color: darkslategray;
    font-family: "Paper Mario";
    user-select: none;
}

div.flex-row {
    display: flex;
    flex-wrap: wrap;
}

div.flex-column {
    flex-direction: column;
}

div.flex-row-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

div.flex-item {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

table, tr, td {
    border: none;

    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

td {
    text-align: center;
    min-width: 66px;
    min-height: 66px;
    vertical-align: middle;
}

p, h1, h2, h3 {
    margin: 0 0 0 0;
    font-size: 1.5em;
    font-weight: normal;
    color: white;

    -webkit-text-stroke: 1px black;
    stroke: 1px black;
}

h1 {
    font-size: 2.75em;
    padding-left: 0.25em;
}

h1.small-header {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
    padding-right: 0.25em;
}

.section {
    background-color: rgb(35,35,59);
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
}

#enabled-settings {
    padding: 5px 5px 5px 5px;
    text-align: center;
}

#enabled-settings img {
    height: 45px;
}

.main-tracker {
    width: 36em;
    height: auto;
    position: relative;
}

.main-tracker.compact {
    height: auto;
}

.main-tracker td {
    width: 68px;
    height: 68px;
}

td {
    position: relative;
}

.misc-tracker {
    width: 36em;
    height: auto;
    padding-bottom: 10px;
}

.keys-tracker {
    width: 36em;
    height: 9em;
}

.letter-tracker {
    width: 36em;
    height: 21em;
}

.koopa-koot-tracker {
    width: 36em;
    height: 13.5em;
}

.dojo-tracker {
    width: 36em;
    height: 9em;
}

.info-block {
    width: 34em;
    margin: 10px 10px 10px 10px;
    color: white;
}

.chapter-group {
    border-style: solid;
    border-color: black;
    border-width: 1;
}

img {
    cursor: pointer;
}

img.unselected {
    -webkit-filter: grayscale(1) brightness(50%);
    filter: grayscale(1) brightness(50%);
}

img.completable {
    -webkit-filter: grayscale(0.6) brightness(80%) drop-shadow(0px 0px 5px white);
    filter: grayscale(0.6) brightness(80%) drop-shadow(0px 0px 5px white);
}

img.star-spirit, img.partner, img.upgrade {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

div.chapter-level, div.colorblind-label {
    position: absolute;
    top: 35px;
    right: 30px;
    width: 0;
    cursor: pointer;

    font-size: 2em;
    font-family: "Paper Mario";
    color: white;
    -webkit-text-stroke: 1px black;
    stroke: 1px black;
}

div.colorblind-label {
    top: 20px;
    -webkit-text-stroke: 2px black;
    stroke: 2px black;
}

div.item-turnin {
    position: absolute;
    top: 10px;
    right: 35px;
    width: 0;
    cursor: pointer;

    font-size: 2em;
    font-family: "Paper Mario";
    color: rgb(4, 160, 4);
    -webkit-text-stroke: 1px black;
    stroke: 1px black;
}

div.colorblind-label + div.item-turnin {
    right: 55px;
}

img.optional-item, img.key-item {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

img[id='Ultra Stone'] {
    width: 50px;
    height: 50px;
}

div.compact-element {
    width: 70px;
    height: 70px;
    text-align: center;
    position: relative;
}

header {
    padding-top: 5px;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
}

#logo-img {
    height: 40px;
    cursor: unset;
    padding-left: 7.5em;
}

footer {
    color: white;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: lightblue;
}

a:hover {
    text-decoration: underline;
}

/* Notes */
#notes {
    width: 36em;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;

    flex: 0 1 auto;
    min-height: 5em;
}

#notes textarea {
    padding: 5px 5px 5px 5px;
    width: 100%;
    min-height: 5em;
    background-color: transparent;
    border: none;
    resize: vertical;

    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
    stroke: 1px black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #666c;

    font-size: 1em;
    color: #fff;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: 125%;
    left: -50%;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 40px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #666c transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Options Menu */
.hamburger {
    cursor: pointer;
    width: 40px;
}

.hamburger-1, .hamburger-2, .hamburger-3 {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    border-color: gainsboro;
    border-width: 1px;
    border-style: solid;
}

.options-open .hamburger-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.options-open .hamburger-2 {
    opacity: 0;
}

.options-open .hamburger-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#options-menu {
    background-color: darkblue;
    color: white;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-size: 1.5em;
    position: absolute;
    left: -600px;
    top: 58px;
    width: 500px;
    transition: 0.4s;
}

#options-menu.options-open {
    -webkit-transform: translate(608px);
    transform: translate(608px);
}

tr.seed-setting {
    display: none;
}

#toggle-seed-settings:hover td.option-name, 
#toggle-tracker-config:hover td.option-name {
    text-decoration: underline;
}

td.section-toggle {
    cursor: pointer;
    width: 15px;
    min-width: unset;
    color: white;
    font-size: 1.5em;

    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: 0.3s;
}

td.section-toggle.section-toggle-closed {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

td.option-name {
    text-align: left;
    padding-left: 10px;
}

td.sub-setting {
    padding-left: 50px;
}

td.option {
    width: 60px;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkbox-groove {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ababab;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.checkbox-groove:after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    top: 1px;
    left: 1px;
    transition: all 0.3s ease;
}

.checkbox-slider {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
}

input.checkbox-slider {
    display: none;
}

input:checked + .checkbox-groove {
    background-color: #5fcf80;
}

input:checked + .checkbox-groove:after {
    transform: translateX(30px);
}

input[type="color"] {
    width: 100%;
}

button {
    width: 60px;
    height: 100%;

    border-radius: 5px;
    font-family: "Paper Mario";
}

button.map-select {
    width: auto;
    height: 2em;
}

button:hover {
    background-color: #5fcf80;
}

button:focus {
    background-color: #1e7438;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    width: 90px;
    height: 100%;
    border-radius: 5px;

    font-family: "Paper Mario";

    -moz-appearance: textfield;
}

select {
    font-family: "Paper Mario";
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

/* Loading Icon */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    border: 4px solid #fff;
    border-radius: 75%;
    animation: lds-ring 1.2s linear infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Maps */
.map-display {
    width: 50em;
    height: auto;
}

#map-grid {
    width: 100%;
    text-align: center;
}

div.map-display h1 {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#map-grid h2 {
    margin-bottom: 0.5em;
}

#map-grid div {
    margin-bottom: 1em;
}

.map-buttons {
    text-align: center;
    margin:0em 1em 1em 1em;
    padding: 0.25em 0.25em 0.25em 0.25em;
    border-radius: 5px;
    background-color: #00000044;
}

.map-buttons button {
    margin-bottom: 0.25em;
}

button.map-select.complete {
    text-decoration: line-through 5px;
    background-color: #ff818167;
}

button.map-select.complete.selected {
    background-color: #9b1511;
}

button.selected {
    background-color: #1e7438;
    border-color: black;
}

#map-checks {
    font-weight: bolder;
    color: white;

    -webkit-text-stroke: 1px black;
    stroke: 1px black;

    margin:0em 1em 1em 1em;
    padding-bottom: 0.5em;
}

#map-checks li {
    font-size: 0.8em;
    font-weight: normal;
}

#map-checks ul {
    font-size: 1.5em;
    font-weight: bolder;
    list-style-type: none;
    margin-left: -1em;
}

#map-checks input[type="checkbox"] {
    mix-blend-mode: screen;
    width: 15px;
    height: 15px;
}

label.disabled {
    color: #ffffff86;
    text-decoration: line-through 5px #00000086;
}

table.map {
    margin: 0 auto;
}

table.map td {
    width: 50px;
    height: 50px;
    background-color: #c9c9c9;

    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

    -webkit-filter: drop-shadow(0px 0px 5px white);
    filter: drop-shadow(0px 0px 5px white);
}

table.map td.complete {
    -webkit-filter: none;
    filter: none;
    text-decoration: line-through 5px;
    background-color: #ff818167;
}

table.map td.empty {
    border: none;
    -webkit-filter: none;
    filter: none;

    font-size: 1.5em;
    font-weight: bolder;
    color: white;

    -webkit-text-stroke: 1px black;
    stroke: 1px black;
}

table.map td:hover {
    background-color: #5fcf80;
}

table.map td.has-nothing {
    background-color: #ff818167;
    -webkit-filter: none;
    filter: none;
}

table.map td.has-nothing:hover {
    background-color: #f37e11;
}

table.map td.has-nothing.selected, table.map td.complete.selected {
    background-color: #9b1511;
}

table.map td.selected {
    background-color: #1e7438;
}

table.map td.empty {
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0);
}
