@font-face {
    font-family: "Paper Mario";
    src: url("../fonts/SuperMarioScript2Demo-Regular.ttf");
}

html, body {
    background-color: darkslategray;
    font-family: "Paper Mario";
    user-select: none;
}

div.page {
    display: flex;
    flex-wrap: wrap;
}

table, tr, td {
    border: none;
}

td {
    text-align: center;
    min-width: 64px;
    min-height: 64px;
}

p, h1, h2 {
    margin: 0 0 0 0;
    font-size: 1.5em;
    font-weight: bolder;
    color: white;

    -webkit-text-stroke: 1px black;
}

h1 {
    font-size: 2.5em;
    padding-left: 0.25em;
}

h1.koopa-koot {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
    padding-right: 0.25em;
}

.main-tracker {
    background-color: rgba(0,0,0,0.25);
    width: 35em;
    height: 46em;
    margin: 5px 5px 5px 5px;
}

.misc-tracker {
    background-color: rgba(0,0,0,0.25);
    width: 35em;
    height: 18em;
    margin: 5px 5px 5px 5px;
}

.koopa-koot-tracker {
    background-color: rgba(0,0,0,0.25);
    width: 35em;
    height: 13.5em;
    margin: 5px 5px 5px 5px;
}

.chapter-group {
    border-style: solid;
    border-color: black;
    border-width: 1;
}

img {
    cursor: pointer;
}

img.unselected {
    mix-blend-mode: multiply;
}

footer {
    color: white;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: lightblue;
}

a:hover {
    text-decoration: underline;
}
